@import url(reset.css);
@import url(variables.css);
@import url(common.css);

.recruit-buttons-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.mainSection {
  background-color: var(--clr-background-primary);
  margin-top: 120px;
  margin-bottom: var(--content-spacing-large);
  font-weight: 500;
}

.paragraph-link {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  display: inline-block;
  font-weight: bold;
}

.info-section-wrapper {
  background-color: var(--clr-background-800);
  color: white;
}
.info-section-wrapper .heading {
  color: var(--clr-text-light);
}
.info-section-wrapper .info-card h3 {
  color: var(--clr-danger-400);
}
.info-section-wrapper h2 {
  padding-top: var(--content-spacing-small);
  margin-left: var(--content-spacing-medium-small);
}
.info-section-wrapper .info-card {
  background-color: var(--clr-accent-primary);
}
.info-card {
  border-radius: 8px;
  padding: var(--content-spacing-medium);
  transition: transform 0.3s ease;
}
.info-card:hover {
  transform: translateY(-10px);
}
.section-icon {
  margin-right: var(--content-spacing-small);
}

.info-section:last-child {
  padding-bottom: var(--content-spacing-medium);
}
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
}
.footer {
  background-color: var(--clr-accent-primary);
  color: var(--clr-text-light);
  padding: var(--content-spacing-medium);
}
.footer p {
  padding: var(--content-spacing-small);
}
.footer a {
  color: var(--clr-danger-400);
}

/* /////////////////////////////////////Request page//////////////////////////////////////////////////// */

.request-content-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: min(1175px, 100% - 4rem);
  margin: 0 auto;
}
.location-map {
  z-index: 0;
  margin-left: var(--content-spacing-medium);
}
.map-wrapper {
  display: flex;
  justify-content: center;
}
.request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--content-spacing-medium);
  background-color: var(--clr-background-800);
  padding-block: var(--content-spacing-medium);
  padding-inline: var(--content-spacing-large);
  width: 100%;
  height: 100%;
}
.request-form > * {
  width: 100%;
}

.request-form div > * {
  width: 100%;
}
.request-form > input,
.request-form > select {
  margin-top: var(--content-spacing-small);
  margin-bottom: var(--content-spacing-medium);
}

.request-form input,
.request-form select {
  padding: var(--content-spacing-small);
  border: 1px solid var(--clr-accent-primary);
  border-radius: 8px;
}
.request-form input:focus,
.request-form select:focus {
  outline: none;
  border: 2px solid var(--clr-text-primary);
}
select option:checked {
  background-color: var(--clr-text-primary); /* Change to desired color */
  color: var(--clr-text-light);
}

/* Change color of option on hover */
select option:hover {
  background-color: rgb(17, 17, 9); /* Change to desired color */
}
.test-class {
  color: red;
}
.swal2-popup {
  background-color: var(--clr-background-800);
  color: var(--clr-text-light);
}
.popup-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-inline: auto;
}
.popup-header {
  color: var(--clr-danger-400);
}
.popup-phone-number b,
.popup-address b,
.popup-description b,
.popup-rating b {
  color: var(--clr-danger-400);
}
.hidden {
  display: none;
}
.swal2-html-container > * {
  margin-bottom: var(--content-spacing-medium) !important;
  font-size: 1rem;
}
.swal2-html-container > p {
  text-align: left;
}

.swal2-confirm {
  background-color: var(--clr-danger-700) !important;
  padding: var(--content-spacing-medium);
  margin-block: var(--content-spacing-small);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.swal2-confirm:hover {
  animation: change-color 0.3s forwards;
  transform: translateY(-4px);
}
.swal2-styled:focus {
  outline: none !important;
  box-shadow: none !important;
}
.swal2-confirm:focus,
.swal2-cancel:focus {
  outline: none !important;
  box-shadow: none !important;
}
body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(3px);
}
.dog-walker-detail-wrapper {
  margin-top: var(--content-spacing-medium);
  width: var(--content-width-general);
  justify-self: center;
  /* background-color: var(--clr-background-800); */
  color: white;
}
.onwalk-detail-grid {
  display: grid;
  gap: 60px;
  grid-template-rows: 1fr;
  width: var(--content-width-general);
  margin-inline: auto;
  height: 800px;
}
.walker-rating {
  width: 100%;
  text-align: left;
  color: yellow;
  margin-left: 20px;
}
.walker-info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-background-800);
  border: 1px solid var(--clr-accent-primary);
  border-radius: 6px;
  padding: var(--content-spacing-medium);
  transition: transform 0.3s ease;
}
.walker-info-card:hover {
  transform: translateY(-8px);
}
.walker-info-card:not(:last-child) {
  margin-bottom: var(--content-spacing-large);
}
.walker-image {
  width: 80px;
  height: 90px;
  border-radius: 50%;
}
.walker-name {
  font-size: 18px;
  font-weight: bold;
  color: var(--clr-text-light);
}
.detail-div {
  display: flex;
  flex-direction: column;
  width: 140px;
  gap: 10px;
  cursor: pointer;
  background-color: var(--clr-background-800);
}
.buttons-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
}
.dog-walker-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.request-detail-grid {
  display: grid;
  grid-template-columns: 1fr;
}
.request-detail-wrapper {
  background-color: var(--clr-background-800);
  border-radius: 6px;
  padding-block: var(--content-spacing-large);
  width: var(--content-width-general);
  justify-self: center;
}
.request-detail-wrapper h3 {
  color: var(--clr-danger-400);
}
.request-detail-wrapper p {
  color: var(--clr-text-light);
  margin-bottom: var(--content-spacing-medium);
}
.edit-request-btn {
  background-color: #4a90e2;
  margin-right: var(--content-spacing-small);
}
.delete-request-btn {
  background-color: var(--clr-cancel-primary);
}

.delete-request-btn:hover {
  animation: change-color-red 0.3s forwards;
  transform: translateY(-4px);
}
@keyframes change-color-red {
  0% {
    background-color: var(--clr-cancel-primary);
  }
  100% {
    background-color: hsl(0, 65%, 40%);
  }
}
.edit-request-btn:hover {
  animation: change-color-blue 0.3s forwards;
  transform: translateY(-4px);
}
@keyframes change-color-blue {
  0% {
    background-color: #4a90e2;
  }
  100% {
    background-color: hsl(212, 72%, 54%);
  }
}

.walker-button {
  border: none;
  border-radius: 6px;
  padding: var(--content-spacing-small);
  cursor: pointer;
}

.walker-accept-button {
  background-color: #4caf50;
  color: var(--clr-text-light);
}
.walker-accept-button:hover {
  animation: change-color-green 0.3s forwards;
}

@keyframes change-color-green {
  0% {
    background-color: #4caf50;
  }
  100% {
    background-color: hsl(122, 39%, 39%);
  }
}
.walker-decline-button {
  background-color: var(--clr-cancel-primary);
  color: var(--clr-text-light);
}
.walker-decline-button:hover {
  animation: change-color-red 0.3s forwards;
}
/*//////////////////////////////////////////// PROFILE.CSS ////////////////////////////////////////////////////*/

.dog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-accent-primary);
  border-radius: 8px;
  width: 500px;
  padding: 15px;
  margin: auto;
  margin-top: 0.2rem;
  gap: 0.3rem;
}

.dog-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding-bottom: 0.5rem;
}

.dog-card h3 {
  color: var(--clr-danger-400);
  text-shadow: var(--text-shadow);
}
.dog-card p {
  color: var(--clr-text-light);
}

.dog-card input {
  width: 80%;
  height: 2.5rem;
  max-width: 500px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  resize: vertical;
  transition: border-color 0.3s, box-shadow 0.3s;
  margin-top: 3px;
}

.dog-card input:focus {
  border-color: #ffa51f;
  box-shadow: 0 0 10px rgba(255, 165, 31, 0.5);
  outline: none;
}

.dog-name {
  font-size: 2.5rem;
  font-weight: 400;
}

.edit-btn {
  background-image: url(../../profile/icons/edit.svg);
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-repeat: no-repeat;
  position: relative;
  left: 45%;
  cursor: pointer;
}

.save-btn {
  display: none;
  background-image: url(../../profile/icons/save.svg);
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-repeat: no-repeat;
  position: relative;
  left: 45%;
  cursor: pointer;
}
.rating-star {
  width: 10px;
  height: 20px;
  color: yellow;
}

.gif-dog-run {
  position: absolute;
  left: 7%;
  top: 32%;
  width: 300px;
  height: 200px;
  background-image: url("../images/after-effects-running.gif");
  background-size: cover;
  background-position: center;
}

.gif-dog-cute {
  position: absolute;
  top: 35%;
  right: 10%;
  width: 300px;
  height: 200px;
  background-image: url("../images/WolfWildNew.gif");
  background-size: cover;
  background-position: center;
  transform: scaleX(-1); /* This flips the image horizontally */
}
.margin-top-big {
  margin-top: var(--content-spacing-xl);
}
.walker-onwalk-detail-wrapper {
  background-color: var(--clr-background-800);
  color: white;
  height: 475px;
  padding: var(--content-spacing-large);
  border-radius: 6px;
}
.onwalk-location-map {
  justify-self: center;
  align-self: center;
  right: 15px;
}
.content-width-auto {
  width: var(--content-width-general);
  margin-inline: auto;
}
.swal2-html-container button {
  background-color: var(--clr-danger-700);
  color: var(--clr-text-light);
  border: none;
  border-radius: 6px;
  padding: var(--content-spacing-medium);
  margin-block: var(--content-spacing-medium);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.swal2-html-container button:hover {
  animation: change-color 0.3s forwards;
  transform: translateY(-4px);
}
.swal2-container {
  z-index: 9999;
}

.star {
  font-size: 7svh;
  cursor: pointer;
}

.one {
  color: #ffe234;
}

.two {
  color: #ffe234;
}

.three {
  color: #ffe234;
}

.four {
  color: #ffe234;
}

.five {
  color: #ffe234;
}

@media screen and (min-width: 300px) {
  .dog-card {
    width: 300px;
  }
}
@media screen and (min-width: 430px) {
  .nav-links {
    flex-direction: row;
    width: auto;
    gap: 10px;
    margin-bottom: 0px;
  }
  .current-page {
    font-weight: bold;
  }
  .dog-card {
    width: 400px;
  }
  .star {
    font-size: 9svh;
  }
}
@media screen and (min-width: 510px) {
  .star {
    font-size: 10svh;
  }
}
@media all and (min-width: 600px) {
  body {
    font-size: 16px;
  }
  .dog-card {
    width: 450px;
  }
  .mainSection {
    margin-top: 90px;
  }
  h1.heading {
    font-size: 2.5rem;
  }
  h2.heading {
    font-size: 1.75rem;
  }
  .navbar {
    font-size: 20px;
  }
  .nav-links {
    gap: 4vw;
  }
  .footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .footer div > * {
    width: calc((100% - 70px) / 3);
  }
  .footer-social-media > p {
    width: 100%;
    box-sizing: border-box;
  }
  .margin-inline-general {
    width: var(--content-width-general);
    margin: 0 auto;
  }
  .info-section.margin-inline-general {
    width: min(1100px, 100% - 4rem);
    margin: 0 auto;
  }
  .navbar {
    width: min(1200px, 100% - 4rem);
    margin: 0 auto;
  }
  .info-section-wrapper .heading {
    width: var(--content-width-general);
    margin: 0 auto;
  }
  .nav-links :nth-child(2) {
    height: auto;
  }
  .footer .footer-social-media {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .info-section:last-child {
    padding-bottom: var(--content-spacing-large);
  }
  .request-form > * {
    max-width: 800px;
  }
  .request-form .cta-button {
    max-width: 400px;
  }
  .location-map {
    width: 500px;
    height: 500px;
  }
  .request-form input,
  .request-form select {
    padding: var(--content-spacing-medium);
  }
  .recruit-buttons-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .swal2-html-container > * {
    font-size: 1.125rem;
  }
  .request-detail-grid {
    grid-template-columns: 1fr 1fr;
  }
  .request-detail-wrapper {
    padding-top: var(--content-spacing-large);
    margin-top: var(--content-spacing-xxl);
    height: 500px;
    width: var(--content-width-general);
    justify-self: center;
  }
  .onwalk-detail-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: 500px;
  }
  .onwalk-location-map {
    width: 500px;
    height: 475px !important;
  }
  .walker-onwalk-detail-wrapper {
    height: 525px;
  }
  .star {
    font-size: 11svh;
  }
}
@media screen and (min-width: 750px) {
  .request-detail-wrapper {
    height: 450px;
  }
  .info-section {
    flex-direction: row;
  }
  .info-card {
    width: calc((100% - 3vh - 1em - 50px) / 3);
    line-height: 23pt;
  }
  .request-content-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .dog-card {
    width: 500px;
  }
}
@media screen and (min-width: 945px) {
  .request-detail-wrapper {
    height: 350px;
  }
}
.walker-onwalk-detail-wrapper {
  height: 475px;
}
.hidden {
  display: none;
}
.onwalk-time-icon,
.onwalk-road-icon {
  font-size: 24px;
  color: var(--clr-accent-primary);
  padding-right: var(--content-spacing-xs);
}
.onwalk-info-icons {
  display: flex;
  justify-content: space-between;
  margin-top: var(--content-spacing-small);
}
body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(3px);
}
@media screen and (min-width: 940px) {
  .request-detail-wrapper {
    height: 350px;
  }
}
