:root {
  --clr-background-primary: rgb(255, 246, 224);
  --clr-text-primary: #333333;
  --clr-text-light: #ffffff;
  --clr-accent-primary: rgb(39, 40, 41);
  --clr-danger-400: #ffa51f;
  --clr-danger-700: #ffb039;
  --clr-background-800: hsl(210, 3%, 36%);
  --content-spacing-xs: 0.25em;
  --content-spacing-small: 0.5em;
  --content-spacing-medium-small: 0.75em;
  --content-spacing-medium: 1em;
  --content-spacing-medium-large: 1.25em;
  --content-spacing-large: 1.5em;
  --content-spacing-xl: 1.75em;
  --content-spacing-xxl: 2em;
  --content-width-general: min(1175px, 100% - 4rem);
}
