:root {
  --clr-background-primary: #f5f5f5;
  --clr-text-primary: #333333;
  --clr-text-light: #ffffff;
  --clr-accent-primary: #4a90e2;
  --clr-danger-400: #dd9221;
  --clr-danger-700: #be770c;
  --content-spacing-xs: 0.25em;
  --content-spacing-small: 0.5em;
  --content-spacing-medium-small: 0.75em;
  --content-spacing-medium: 1em;
  --content-spacing-medium-large: 1.25em;
  --content-spacing-large: 1.5em;
  --content-spacing-xl: 1.75em;
  --content-spacing-xxl: 2em;
}
